<?xml version="1.0" encoding="utf-8" ?>
<!--
    Note: Add entries to the App.config file for configuration settings
    that apply only to the Test project.
-->
<configuration>
    <appSettings>

    </appSettings>

    <connectionStrings>
      <add name="DbEntryConnectionString" connectionString="Server=127.0.0.1;Port=3306;Database=dms;Uid=root;Pwd=123456;" providerName="MySql.Data.MySqlClient"/>
    </connectionStrings>
</configuration>
